:root{
    --teal: #40A2D8;
    --teal_hover: #0B60B0;
}
*{
    font-family: 'Poppins', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.h-line{
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}